*
{
  margin: 0;
  padding: 0;
}
.clearfix {
  clear: both;
}
.wrapper {
  width: 1350px;
  font-family: sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
}

.logo {
  float: left;
  padding-top: 20px;
  padding-left: 207px;
}

.navigation-menu{
  float: left;
  height: 113px;
  margin-left: 320px;
  padding-left: 0px;
  padding-top: 30px;
  line-height: 34px;
}

.navigation-menu li {
  display: inline-block;
  font-size: 13px;
  padding-right: 36px;
}

.navigation-menu li:last-child {
  height: 34px;
  width: 34px;
  background-image: url(image/mail.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  vertical-align: middle;
}

.nav-item-link {
  color: #999999;
}

.nav-item-link:hover {
  color: #303941;
}

.mail {
  display: inline-block;
  height: 34px;
  width: 34px;
}

.mail:hover {
  cursor: pointer;
}

 .navigation-menu li:last-child:hover {
  opacity: .6;
}

.slogan {
  height: 532px;
  width: 1350px;
  background-image: url(image/slogan.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.latest-work {
  background-image: url(image/BGlatestwork.png);
  background-color: #3f3b48;
  color: #ffffff;
}

.latest-work-title {
  padding-top: 85px;
  padding-left: 518px;
}

.latest-work-header {
  height: 182px;
}

.latest-work-main {
  height: 455px;
  background-image: url(image/iphone.png);
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
}

.description{
    width: 520px;
    float: left;
}

.description h2 {
  display: inline-block;
  margin-top: 110px;
  margin-left: 207px;
  font-size: 18px;
  font-weight: normal;
  width: 214px;
  float: left;
}

.description p {
  display: inline-block;
  margin-left: 207px;
  margin-top: 25px;
  font-size: 11.9px;
  float: left;
  text-align: left;
}

.icons-list {
  margin-left: 207px;
  margin-top: 28px;
  list-style-type: none;
  width: 150px;
  float: left;
}

.icons-list li {
  padding-bottom: 10px;
  font-size: 14px;
  width: 150px;
  padding-left: 20px;
  list-style-type: none;
}

.icon-trophy {
  background-image: url(image/trophy.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.icon-listitems {
  background-image: url(image/listitems.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.icon-rating {
  background-image: url(image/rating.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.technology {
  float: right;
  width: 520px;
  height: 336px;
}

.technology h2 {
  display: inline-block;
  margin-top: 110px;
  font-size: 18px;
  font-weight: normal;
  width: 214px;
  float: left;
}

.technology-icons li {
  display: inline-block;
  padding-top: 30px;
}

.technology-gallery {
  display: inline-block;
  color: white;
  font-size: 14px;
  margin-top: 37px;
}

.technology-gallery:hover {
  opacity: .6;
}

.latest-work-padding {
  height: 140px;
  background-image: url(image/pagination.png);
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
}

.how-we-work {
  border-color: white;
}

.how-we-work-header {
  margin-left: 454px;
  margin-top: 87px;
}

.how-we-work-main {
  background-image: url(image/BGhowwework.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 495px;
}

.how-list {
  margin-top: 75px;
  margin-left: 208px;
}

.column {
  display: inline-block;
  width: 285px;
  height: 178px;
  margin-right: 35px;
}

.column h2 {
  padding-left: 38px;
}

.plan {
  background-image: url(image/plan.png);
  background-position: left top;
  background-repeat: no-repeat;
}

.action {
  background-image: url(image/action.png);
  background-position: left top;
  background-repeat: no-repeat;
}

.launch {
  background-image: url(image/launch.png);
  background-position: left top;
  background-repeat: no-repeat;
}

h2+p {
  margin-top: 25px;
}

.work-with-us {
  height: 40px;
  width: 200px;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 45px;
  margin-left: 572px;
  border-radius: 5px;
}

.work-with-us:hover {
  opacity: .6;
}

.latest-blog-post {
  background-color: #3f3b48;

}

.latest-blog-header {
  width: 395px;
  margin-left: 480px;
  padding-top: 86px;
}

.latest-blog-posts {
  height: 445px;
  margin-top: 68px;
  position: relative;
}

.post-block-list {
  display: inline-block;
  position: absolute;
  height: 445px;
  overflow: hidden;
}

.post-block {
  background-color: #595466;
  height: 445px;
  width: 330px;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
}

.post-background {
  background-color: #3f3b48;
  height: 250px;
  width: 295px;
  margin-top: 17px;
  margin-left: 17px;
}

.post-author {
  font-size: 10px;
  color: white;
  margin-top: 30px;
  margin-left: 30px;
}

.post-name {
  color: white;
  font-size: 14px;
  width: 210px;
  margin-left: 30px;
  margin-top: 30px;
}

.post-link {
  display: inline-block;
  color: white;
  font-size: 10px;
  margin-left: 30px;
  margin-top: 30px;
}

.post-link span {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.post-link img {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.post-link:hover {
  opacity: .6;
}

.date-block {
  position: absolute;
  height: 80px;
  width: 70px;
  position: absolute;
  bottom: 154px;
  left: 240px;
}

.date-namber {
  display: inline-block;
  color: #3f3b48;
  background-color: white;
  height: 54px;
  font-size: 45px;
  font-weight: bold;
  width: 70px;
  line-height: 54px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 10px 10px 0 0;
}

.date-month {
  display: inline-block;
  height: 26px;
  background-color: #3f3b48;
  color: white;
  font-size: 11px;
  width: 70px;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  border: 1px solid #3f3b48;
  border-radius: 0 0 10px 10px;
}

.scroll {
  height: 165px;
  background-image: url(image/scrollline.png);
  background-repeat: no-repeat;
  background-position: center;
}

.scrollblock {
  margin-left: 300px;
  margin-top: 71px;
}

.fun-facts-title {
  padding-top: 85px;
  margin-left: 530px;
}

.fun-facts-main {
  height: 430px;
  width: 930px;
  background-image: url(image/partners.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin-left: 209px;
  margin-top: 20px;
}

.clients {
  font-size: 18px;
  display: inline-block;
  text-align: left;
  margin-top: 90px;
  margin-left: 209px;

}

.diagramm {
  display: inline-block;
  float: right;
  padding-top: 40px;
}

footer {
  height: 89px;
  background-color: #3f3b48;
  font-size: 14px;
  color: white;
}

.coppyright {
  display: inline-block;
  float: left;
  width: 315px;
  margin-top: 37px;
  margin-left: 207px;
}

.follow-us {
  display: inline-block;
  float: right;
  margin-top: 0px;
  margin-left: 445px;
  width: 380px;
}
.follow {
  line-height: 89px;
  text-align: center;
}
.social-networks {
  line-height: 89px;
  text-align: center;
  float: right;
  margin-right: 178px;
  margin-left: 15px;
}

.network-icon {
  display: inline-block;
  float: right;
  margin-right: 7px;
  margin-top: 10px;
}

.network-icon a:hover {
  opacity: .6;
}
